<div class="cui-page__content">
    <oui-back-button data-title="{{'iplb_ssl_add_title' | translate }}"
                     data-on-click="ctrl.$state.go('network.iplb.detail.ssl-certificate')">
    </oui-back-button>

    <form novalidate name="ctrl.form">
        <oui-field label="{{'iplb_ssl_edit_name' | translate }}">
            <div class="oui-field-control oui-field-control_4">
                <input type="text"
                       id="displayName"
                       name="displayName"
                       class="oui-input"
                       data-ng-model="ctrl.ssl.displayName">
            </div>
        </oui-field>

        <oui-field label="{{'iplb_ssl_edit_private_key' | translate }}">
            <div class="oui-field-control oui-field-control_5">
                <textarea class="oui-textarea"
                          data-ng-model="ctrl.ssl.key"
                          id="key"
                          name="key"
                          required></textarea>
            </div>
        </oui-field>

        <oui-field label="{{'iplb_ssl_edit_certificate' | translate }}">
            <div class="oui-field-control oui-field-control_5">
                <textarea class="oui-textarea"
                          data-ng-model="ctrl.ssl.certificate"
                          id="certificate"
                          name="certificate"
                          required></textarea>
            </div>
        </oui-field>

        <oui-field label="{{'iplb_ssl_edit_chain' | translate }}">
            <div class="oui-field-control oui-field-control_5">
                <textarea class="oui-textarea"
                          data-ng-model="ctrl.ssl.chain"
                          id="chain"
                          name="chain"></textarea>
            </div>
        </oui-field>

        <oui-form-actions data-on-submit="ctrl.create()"
                          data-on-cancel="ctrl.$state.go('network.iplb.detail.ssl-certificate')"
                          data-submit-text="{{'iplb_ssl_add_confirm' | translate}}"
                          data-cancel-text="{{'iplb_ssl_add_cancel' | translate}}"></oui-form-actions>
    </form>
</div>
